
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;500&family=Slabo+27px&display=swap');
body{
  background: url(quizzBg.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Inconsolata', monospace;
}